<h1>Search For Song Covers</h1>
<div class="search-form">
	Artist: <input type="text" ng-model="userInput.artist" /><br />
	Song: <input type="text" ng-model="userInput.song" />
	<button ng-click="submit(userInput)">Search</button>
</div>
<ul class="nav nav-tabs">
	<li role="presentation" ng-class="{ active: currentService === service }" ng-repeat="service in services"><a ng-click="setService(service)" href="">{{ service }}</a></li>
</ul>
<div class="results spotify-results" ng-show="currentService === 'spotify'">
	<div class="result spotify-track" ng-repeat="track in results.spotify">
		<p class="track-name"><a href="{{ track.external_url }}" target="_blank">{{ track.artist }}<br>{{ track.name }}</a></p>
		<audio controls ng-src="{{ getResultUrl(track, 'spotify') }}"></audio>
	</div>
</div>
<div class="results soundcloud-results" ng-show="currentService === 'soundcloud'">
	<div class="result soundcloud-track" ng-repeat="track in results.soundcloud">
		<iframe width="100%" height="166" scrolling="no" frameborder="no" ng-src="{{ getResultUrl(track, 'soundcloud') }}"></iframe>
	</div>
</div>
<div class="results youtube-results" ng-show="currentService === 'youtube'">
	<div class="result youtube-video" ng-repeat="video in results.youtube">
		<iframe width="640" height="360" ng-src="{{ getResultUrl(video, 'youtube') }}" frameborder="0" allowfullscreen></iframe>
	</div>
</div>